
.Title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
  font-size: xx-large;
}
.d-flex{
  margin-right: 50px;
}

.Links{
  margin-left:70px;
  font-size: large;
}
.Home-Container {
  background-color: #FAEED1;
  height: 100vh;
  width: 100vw;
  background-image: url('/public/images/Home-Background.jpeg');
  background-repeat: no-repeat;
 background-size: contain;
 position: fixed;
display: flex;
justify-content: center;
align-items: center;
}

