
.Title{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: green;
  font-size: xx-large;
}
.d-flex{
  margin-right: 50px;
}

.Links{
  margin-left:70px;
  font-size: large;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

<<<<<<< HEAD

.Home-Container {
  height: 100vh;

}

.Home-Content {
  margin-top: 70px; 
}

.Home-img {
  width: 100%;
  height: auto; 
  object-fit: cover;
  object-position: center;
}

.pets-container {
  margin: 0 auto; /* This should center the container */
}

=======
/* CSS */
>>>>>>> main
.Links:hover {
  color: red; /* Change the color on hover */
}

.Links:hover::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: red; /* Horizontal line below text on hover */
  transition: width 0.3s;
}

.nav-item:hover {
  /* Optional: Change background color on hover */
  background-color: #f0f0f0;
}
<<<<<<< HEAD
=======

>>>>>>> main
